@charset 'UTF-8'; 

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Sriracha&display=swap');

* {
   margin: 0px;
   padding: 0px;
}

Body {
   background-image: url(depositphotos_97791916-stock-illustration-romantic-background-with-hearts.jpg);
   font-family: "Sriracha", serif;
   background-attachment: fixed;
   background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.171);
    text-align: center;
    color: white;
    height: 240px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.384);
}

header > h1 { 
     padding-top: 40px;
     font-size: 70px;
     color: black;
} 

header > p {
   text-align: center;
   font-size: 40px;
}

section {
  padding-top: 4vh;
  line-height: 2em;
  padding-left: 20px;
  font-size: 3vw;
}



section > p {
   padding-bottom: 1em;
}

section.normal {
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
}


section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-attachment: fixed;
    height: 120vh;
    width: 100vw;
    border-radius: 30%;
}


section#img01 {
   background-image: url(Imagem\ do\ WhatsApp\ de\ 2025-01-21\ à\(s\)\ 23.39.08_01fa8e99.jpg);
   background-position: center;
}

section#img02 {
   background-image: url(Imagem\ do\ WhatsApp\ de\ 2025-01-21\ à\(s\)\ 23.39.09_aac36889.jpg);
}

section#telefone {
   position: absolute;
   top: 700%;
   left: 44%;
   transform: translate(-50%, -50%);

   height: 730px;
   width: 590px;
   background: url(iphone-7.3.0.png) no-repeat;

}

iframe#tela {
   position: relative;
   top: 136px;
   left: 269px;
   width: 283px;
   height: 499px;
   border-radius: 2px 2px;
   
}

.btn{
   position: absolute;

   right: 46%;
   top: 750%;
   background-color: #202020;
   border: none;
   padding: 20px;
   font-weight: 600;
   border-radius: 30%;
   box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.616);
   transition: 0.5 background;
   cursor: pointer;
   
}


button > a{
   color: white;
   text-decoration: none;
   background-color: #202020;
   transition: 0.5 background;
}

img{
   width: 80px;
   margin: 20px;
   position: relative;
   left: 47%;
  
 }

section#link-instagram img {
   width: 90px;
   top: 20%;
   
}